.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 16.25rem;
  border: 2px solid #efefef;
  cursor: pointer;
  transition: 0.2s;
}

.product-card:hover {
  background-color: #efefef;
}

.product-card img {
  height: 120px;
}

.product-card-info {
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.product-card-info p {
  height: 60px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.product-card-seller-name {
  max-width: 13.75rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
