.customer-profile-wrapper .simplified-header-wrapper {
  background-color: #e66c54;
}

.customer-profile-wrapper .simplified-header-logo-wrapper {
  color: #fafafa;
}

.customer-profile-wrapper .simplified-header-wrapper p {
  color: #fafafa;
}

.customer-profile-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.customer-info,
.customer-credit-cards,
.customer-addresses,
.customer-orders {
  display: flex;
  flex-direction: column;
}

.customer-credit-card-card {
  border: 1px solid #e66c54;
  padding: 1rem;
}

.customer-credit-cards {
  gap: 1rem;
}

.customer-credit-card-card p {
  margin: 0;
}

.customer-address-card {
  border: 1px solid #e66c54;
  padding: 1rem;
}

.customer-address-card p {
  margin: 0;
}

.customer-order-card {
  border: 1px solid #e66c54;
  padding: 1rem;
  cursor: pointer;
  transition: 0.2s;
}

.customer-order-card:hover {
  background-color: #e66c54;
}

.customer-order-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 4rem;
}

.customer-order-details img {
  width: 80px;
}

.order-detail-card {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  border: 1px solid #e66c54;
}
